img{
    width: 7%;
    object-fit: contain;
}
.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
     
     background:#cceccc;
     
     /* background:#ffaa0be2;; */
     /* box-shadow:1px 1px 1px #4cbe4c; */
     
}

.nav-mobile{
    display: none;
}


ul{
    display: flex;
    align-items: baseline;

}
li{
    list-style: none;
    padding: 1px 20px;
  
}
a{
    text-decoration: none;
    
    color:#19ac19;
    font-size: 18px;
    font-weight: 600;

}
.primaryBtn{
    cursor: pointer;
    font-weight: bolder;
    padding: 13px 25px;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #7c8f70;
    border-radius: 5px;
    margin-left: 20px; 
}


@media screen and (max-width:800px){
    #insta-logo{
        display: none;
    }
    .nav-menu{
        display: none;
    }
    .nav-mobile{
     width: 100%;
     display: flex;
     justify-content: space-between;
    }
    /* mobile navbar ta jate screen er niche thake */

    .navbar{
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #fff;
        /* box-shadow: 0px -2px 5px #fff; */
    }
    .navbar ul{
        margin: 0;
        padding: 10px 0;
    }
    .primaryBtn{
        margin:0;
        background-color:#fff;
        color: rgb(55, 197, 69);

    }
}